<button (click) = "editSpecificAlbum()">Edit</button>
<div *ngIf="this.editAlbum">
<table>
  <tr>
    <td><label>New Album Title:</label></td>
    <td><input [(ngModel)]="selectedAlbum.title"></td>
  </tr>

  <tr>
    <td><label>New Album Artist:</label></td>
    <td><input [(ngModel)]="selectedAlbum.artist"></td>
  </tr>

<tr>
<td><label>New Album Description:</label></td>
<td><input [(ngModel)]="selectedAlbum.description"></td>
</tr>

<hr>
<tr>
  <td><button (click) = "beginUpdatingAlbum(selectedAlbum)"> update </button></td>
<td><button  (click) = "beginDeletingAlbum(selectedAlbum)"> Delete </button></td>
</tr>
</table>
<hr>
</div>
